<a href="https://colab.research.google.com/github/jasaonchs/hanyang/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#2020학년도 1학년 1학기 프로그래밍(파이썬) ㅛㅜ행평가
#한양공업고등학교 1학년 12반 19번 차시윤

In [2]:
#1. 변수 사용하기
삼성전자 = 5000
print(5000 * 10)

50000

In [3]:
#2. 문자열을 정수로 변환
year = "2020"
print (int(year))
print(int(year)-1)
print(int(year)-2)

2020
2019
2018

In [4]:
#3.
string = "홀짝홀짝홀짝"
string [::2]

'홀홀홀'

In [7]:
string = 'PYTHON'
string [::-1]

'NOHTYP'

In [16]:
data = [1,2,3,4,5,6,7,8,9,10]
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [17]:
data.sort
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
name1 = "강민수"
age1 = 10
name2 = "이철희"
age2 = 13
a = "이름 : {}, 나이 : {}"
b = "이름 : {}, 나이 : {}"
print(a.format(name1,age1))
print(b.format(name2,age2))

이름 : 강민수, 나이 : 10
이름 : 이철희, 나이 : 13